@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post">
    <div class="mb-3">
        <label>Full Name</label>
        <input name="fullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input name="email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input name="password" type="password" class="form-control" />
    </div>

    <button class="btn btn-success">Register</button>
</form>
