/* _content/CarpoolingApp/Views/Account/Login.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vdshr9a3ww] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vdshr9a3ww] {
  color: #0077cc;
}

.btn-primary[b-vdshr9a3ww] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vdshr9a3ww], .nav-pills .show > .nav-link[b-vdshr9a3ww] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vdshr9a3ww] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vdshr9a3ww] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vdshr9a3ww] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vdshr9a3ww] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vdshr9a3ww] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CarpoolingApp/Views/Account/Register.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-0gispfmax7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-0gispfmax7] {
  color: #0077cc;
}

.btn-primary[b-0gispfmax7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-0gispfmax7], .nav-pills .show > .nav-link[b-0gispfmax7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-0gispfmax7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-0gispfmax7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-0gispfmax7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-0gispfmax7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-0gispfmax7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CarpoolingApp/Views/Booking/Create.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lwa4cs7iw7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lwa4cs7iw7] {
  color: #0077cc;
}

.btn-primary[b-lwa4cs7iw7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lwa4cs7iw7], .nav-pills .show > .nav-link[b-lwa4cs7iw7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lwa4cs7iw7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lwa4cs7iw7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lwa4cs7iw7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lwa4cs7iw7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lwa4cs7iw7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CarpoolingApp/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bddmc6yalx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bddmc6yalx] {
  color: #0077cc;
}

.btn-primary[b-bddmc6yalx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bddmc6yalx], .nav-pills .show > .nav-link[b-bddmc6yalx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bddmc6yalx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bddmc6yalx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bddmc6yalx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bddmc6yalx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bddmc6yalx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CarpoolingApp/Views/Trip/Create.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-enllubilaq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-enllubilaq] {
  color: #0077cc;
}

.btn-primary[b-enllubilaq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-enllubilaq], .nav-pills .show > .nav-link[b-enllubilaq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-enllubilaq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-enllubilaq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-enllubilaq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-enllubilaq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-enllubilaq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CarpoolingApp/Views/Trip/Details.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lsw6hjfywt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lsw6hjfywt] {
  color: #0077cc;
}

.btn-primary[b-lsw6hjfywt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lsw6hjfywt], .nav-pills .show > .nav-link[b-lsw6hjfywt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lsw6hjfywt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lsw6hjfywt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lsw6hjfywt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lsw6hjfywt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lsw6hjfywt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CarpoolingApp/Views/Trip/Index.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vimg7yfwy2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vimg7yfwy2] {
  color: #0077cc;
}

.btn-primary[b-vimg7yfwy2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vimg7yfwy2], .nav-pills .show > .nav-link[b-vimg7yfwy2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vimg7yfwy2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vimg7yfwy2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vimg7yfwy2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vimg7yfwy2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vimg7yfwy2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CarpoolingApp/Views/_ViewImports.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bts5s3ei6l] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bts5s3ei6l] {
  color: #0077cc;
}

.btn-primary[b-bts5s3ei6l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bts5s3ei6l], .nav-pills .show > .nav-link[b-bts5s3ei6l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bts5s3ei6l] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bts5s3ei6l] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bts5s3ei6l] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bts5s3ei6l] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bts5s3ei6l] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CarpoolingApp/Views/_ViewStart.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ueehjnsi45] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ueehjnsi45] {
  color: #0077cc;
}

.btn-primary[b-ueehjnsi45] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ueehjnsi45], .nav-pills .show > .nav-link[b-ueehjnsi45] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ueehjnsi45] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ueehjnsi45] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ueehjnsi45] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ueehjnsi45] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ueehjnsi45] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
